<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset>  
    <legend>Sign in</legend>  
    <ol>
      <li><%= f.label :email %>
          <%= f.text_field :email %>
      </li>

      <li><%= f.label :password %>
          <%= f.password_field :password %>
      </li> 

      <% if devise_mapping.rememberable? -%>
        <li> 
          <%= f.check_box :remember_me %> 
          <%= f.label :remember_me %>
        </li>  
      <% end -%>
     </ol>
	<%= link_to "Forgot Your Password?", new_user_password_path %>
    <%= f.submit "Sign in" %>
  </fieldset>
<% end -%>